<h1>Top Anime</h1>
<%= link_to "Spring Anime", seasonal_anime_path %>
<div class="container">
    <% @top_10_anime["data"].each do |anime| %>
        <div class="anime-card">
            <h2><%= anime["node"]["title"] %></h2>
            <p>Rank: <%= anime["ranking"]["rank"] %></p>
            <p>ID: <%= anime["node"]["id"] %></p>
            <img src="<%= anime["node"]["main_picture"]["medium"] %>" alt="<%= anime["node"]["title"] %>">
            <%= link_to "Show Details", anime_path(anime["node"]["id"]) %>
        </div>
    <% end %>
</div>